/.mixin.out/
/assets/
/crash-reports/
/downloads/
/emoticons/
/journeymap/
/logs/
/mods/
/resourcepacks/
/saves/
/schematics/
/shaderpacks/
/.curseclient
/.ReAuth.cfg
/crafttweaker.log
/manifest.json
/minecraftinstance.json
/modlist.html
/options.txt
/optionsof.txt
/servers.dat